/* .hero-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, .5);
  height: 400px;
  position: relative;
  padding-top: 60px; 
} */
.hero-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, .5);
  height: 400px;
  position: relative;
  padding-top: 60px; }
  .hero-image .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .hero-image .row {
    height: inherit; }
  .hero-image .hero-text {
    flex: 0;
    color: #ffffff;
    margin: auto 0; }
    .hero-image .hero-text h1 {
      font-size: 3rem; }
      @media (min-width: 768px) {
        .hero-image .hero-text h1 {
          font-size: 4rem;
          width: 80%; } }
    .hero-image .hero-text h2 {
      font-size: 2.2rem; }
      @media (min-width: 768px) {
        .hero-image .hero-text h2 {
          font-size: 2.4rem; } }
    .hero-image .hero-text p {
      font-size: 1.6rem;
      line-height: 1.3; }
      @media (min-width: 768px) {
        .hero-image .hero-text p {
          font-size: 1.6rem;
          width: 60%; } }
  .hero-image .hero-down {
    flex: 0;
    text-align: center;
    opacity: 0.7; }
    .hero-image .hero-down:hover {
      opacity: 1; }
  .hero-image .hero-section {
    text-transform: uppercase;
    font-weight: normal; }

.hero-image-fullscreen {
  height: 100vh; }

.hero-image-setheight {
  height: 460px; }

.hero-image-blend-overlay {
  background-blend-mode: overlay; }



  .main-menu {
    display: none; }
    @media (min-width: 768px) {
      .main-menu {
        display: block; } }
    .main-menu > ul {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .main-menu > ul > li {
        list-style: none;
        font-size: 0.9rem; }
        .main-menu > ul > li > a {
          padding: 10px 14px 10px 14px;
          display: inline-block;
          font-weight: regular;
          text-transform: uppercase;
          text-decoration: none;
          color: #00b140; }
          .main-menu > ul > li > a:hover {
            background: #00b140;
            color: #ffffff;
            text-decoration: none; }
        .main-menu > ul > li.active > a {
          background: #00b140;
          text-decoration: none;
          color: #ffffff; }
          .main-menu > ul > li.active > a:hover {
            text-decoration: none;
            background: #00b140;
            transition: all 225ms ease-in 0s;
            color: #ffffff; }
  
  .main-menu-mobile {
    position: fixed;
    background: #00b140;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .main-menu-mobile.open {
      opacity: 0.9;
      visibility: visible;
      height: 100%;
      z-index: 20; }
      .main-menu-mobile.open li {
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.35s; }
        .main-menu-mobile.open li:nth-of-type(2) {
          animation-delay: 0.4s; }
        .main-menu-mobile.open li:nth-of-type(3) {
          animation-delay: 0.45s; }
        .main-menu-mobile.open li:nth-of-type(4) {
          animation-delay: 0.5s; }
        .main-menu-mobile.open li:nth-of-type(5) {
          animation-delay: 0.55s; }
        .main-menu-mobile.open li:nth-of-type(6) {
          animation-delay: 0.6s; }
    .main-menu-mobile ul {
      font-size: 2rem;
      font-family: "Lato", "Helvetica Neue", Arial, sans-serif, -apple-system;
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 0;
      flex: 0; }
      .main-menu-mobile ul li {
        display: block;
        position: relative;
        opacity: 0; }
        .main-menu-mobile ul li a {
          display: block;
          position: relative;
          color: #ffffff;
          text-decoration: none;
          overflow: hidden; }
          .main-menu-mobile ul li a:hover::after, .main-menu-mobile ul li a:focus::after, .main-menu-mobile ul li a:active::after {
            width: 100%; }
          .main-menu-mobile ul li a::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 3px;
            background: #ffffff;
            transition: 0.35s; }